---
import Layout from '../../layouts/Layout.astro';
import PlatoonStructure from '../../components/PlatoonStructure';
import PlatoonNotes from '../../components/PlatoonNotes';
import PlatoonSources from '../../components/PlatoonSources';
import { loadEnv } from "vite";

const { PUBLIC_API_SITE } = loadEnv(import.meta.env.PUBLIC_API_SITE, process.cwd(), "");
const { slug } = Astro.params;

let res = await fetch(PUBLIC_API_SITE + `/api/platoons/${slug}/details/`)
let [platoon] = await res.json();

export async function getStaticPaths() {
  const { PUBLIC_API_SITE } = loadEnv(import.meta.env.PUBLIC_API_SITE, process.cwd(), "");

  const items = await fetch(PUBLIC_API_SITE + `/api/slugs/platoons/`).then((response) =>
    response.json()
  );

  const paths: { params: { slug: string; }; }[] = [];

  items.map((item: { id: string; }) => {
    paths.push({params: {slug: item.id}});
  });

  return paths;
}

---

<Layout title="Platoons">
  <main class="flex flex-col text-gray-300 max-w-2xl place-content-center mx-auto mt-5">
    <div class="flex flex-col text-3xl gap-1 bg-neutral-900 rounded-md p-3 shadow-lg">
      <h1 class="self-center text-3xl">{platoon.name}</h1>
      <div class="flex flex-row gap-6 self-center mt-2">
        <div class="flex text-xl">
          <svg class='mt-1 mr-1 w-6 h-6' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M12 12q-1.65 0-2.825-1.175T8 8q0-1.65 1.175-2.825T12 4q1.65 0 2.825 1.175T16 8q0 1.65-1.175 2.825T12 12Zm-8 8v-2.8q0-.85.438-1.563T5.6 14.55q1.55-.775 3.15-1.163T12 13q1.65 0 3.25.388t3.15 1.162q.725.375 1.163 1.088T20 17.2V20H4Z"/></svg>
          {platoon.structure.size}
        </div>
        <div class="flex">
          <svg class='mt-1 mr-1 w-6 h-6' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zM9 14H7v-2h2v2zm4 0h-2v-2h2v2zm4 0h-2v-2h2v2zm-8 4H7v-2h2v2zm4 0h-2v-2h2v2zm4 0h-2v-2h2v2z"/></svg>
          <span class="text-xl">{JSON.parse(platoon.era).lower} - {JSON.parse(platoon.era).upper}</span>
        </div>
      </div>
    </div>
    <div class="mt-12">
      <PlatoonStructure {...platoon.structure}/>
      <PlatoonNotes {...platoon.notes}/>
      <PlatoonSources {...platoon.sources}/>
    </div>
  </main>
</Layout>

